<app-headers></app-headers>
<div class="contents">
    <div class="container">
        <div class="box-item">
            <div>
                <label>Top 10 IMDb this week</label>
            </div>
            <div class="items" style="height: 380px;">
                @for (item of movies; track $index) {
                <app-card-mini [id]="$index+1" [image]="item.image" [star]="item.midb"
                    [title]="item.name"></app-card-mini>
                }
            </div>
        </div>
        <div class="box-item">
            <div>
                <label>Born today</label>
            </div>
            <div class="items" style="height: 220px;">
                @for (item of creators; track $index) {
                <app-card-creadeter [image]="item.image" [name]="item.name" [age]="item.age"></app-card-creadeter>
                }
            </div>
        </div>
    </div>
</div>