.card-mini {
    width: 150px;
    height: 300px;

    .add {
        height: 100px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        top: 18px;
        padding: 12px 10px;
        background: rgba(#000, 0.8);
        position: sticky;
        color: #fff;
        font-weight: bold;
        transition: background 0.3s, transform 0.3s ease;

        &:hover {
            cursor: pointer;
            background: rgba(#1533ab, 0.6);
            transform: scale(1.05);
        }
    }

    .img {
        height: 220px;
    }

    .body {
        padding: 5px;
        background: #000000;

        .score {
            display: flex;

            div {
                width: 40%;
            }

            button {
                border-radius: 10px;
                width: 40%;
                background: none;
                border: none;

                &:hover {
                    background: rgba($color: #0f0045, $alpha: 1.0);
                }
            }
        }

        .buttom {
            .b1 {
                margin-bottom: 5px;
                display: flex;
                justify-content: center;

                button {
                    display: flex;
                    justify-content: center;
                    border: none;
                    font-weight: bold;
                    color: #33b1ff;
                    width: 100%;
                    border-radius: 10px;
                    padding: 5px 0px;
                    background: rgba($color: #33b1ff, $alpha: 0.1);

                    *,
                    &:hover {
                        cursor: pointer;
                    }

                    &:hover {
                        background: rgba($color: #33b1ff, $alpha: 0.2);
                    }
                }
            }

            .b2 {
                display: flex;
                justify-content: center;

                button {
                    display: flex;
                    justify-content: center;
                    border: none;
                    font-weight: bold;
                    color: #fff;
                    width: 50%;
                    border-radius: 10px;
                    padding: 5px 0px;
                    background: none;

                    *,
                    &:hover {
                        cursor: pointer;
                    }

                    &:hover {
                        background: rgba($color: #33b1ff, $alpha: 0.2);
                    }
                }
            }
        }
    }
}