.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .container{
    width: 50%;
    .data{
      border-radius: 2rem;
      padding: 10px;
      background: #000000;
      color: #fff;
      .header{}
      .body{
        display: flex;
        justify-content: center;
        gap: 10px;
        .image{}
        .video{}
      }
      .footer{}
    }
  }
}